*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
.banner{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
 nav{
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
} 
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(85, 42, 18);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
}

table.meny {
    margin: 0 auto;
}
table.meny td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
table.meny tr {
    display: flex;
    width: 400px;
    margin: 20px 0;
}
table.meny tr td .rettnavn {
    font-size: 20px;
}
table.meny tr td .rettnavn span.allergen {
    font-size: 12px;
}
table.meny tr td .description {
    font-style: italic;
    font-size: 16px;
}
table.meny tr td.pris {
    flex-grow: 1;
    text-align: right;
    display: block;
}

.mrgtop-800-top {
    margin: 500px auto 0 200px;
}
.mrgtop-800 {
    margin: 50px auto 0 200px;
}
h2.about-title {
    margin: 50px 0 30px 200px;
}
.opening-hours {
    margin: 20px 0 0 200px;
}
.allergen-info {
    margin: 10px 0 0 200px;
    font-style: italic;
}